.red {
  background: #900;
  display:flex;
  width:300px;
  height:300px;
}
.green {
  background: #090;
  display:flex;
  width:300px;
  height:300px;
}
.blue {
  background: #009;
  display:flex;
  width:300px;
  height:600px;
  margin:-600px 0 0 300px;
}
